@charset  "UTF-8";

html {
  font-size: 62.5%;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ",sans-serif;
  color: #333;
}
a{
	text-decoration: none;
}
span.holiday {
	color: #FF0000;
}
span.sun {
	color: #FF0000;
}
span.sat {
	color: #0000FF;
}
span.mon, .tue, .wed, .thu, .fri {
    color: #000000;
}
/**************************************************
PC Layout
***************************************************/
@media screen and (min-width: 768px) {

  .fade {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
     -o-transition: 0.5s ease-in-out;
     transition: 0.5s ease-in-out;
}
.fade:hover {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.sp_header{
	display: none;
}
  #header {
    width: 100%;
    height: 214px;
    background: url(../img/bus/head_bar.png);
    text-align: center;
  }

  .sub_header {
    width: 1020px;
    height: 33px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-around;
    padding: 12px 0 0;
  }



  #content{
    width: 1000px !important;
    margin: 60px auto !important;
  }
  .title img{
    vertical-align: bottom;
  }
  .attention{
    width: 100%;
    padding: 23px 17px 15px;
    background: url(../img/bus/bg.png);
    position: relative;
  }
  .attention .copy{
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
  }
  .attention .sub_title{
    margin: 27px 0 10px 0;
    padding: 10px 15px 8px 20px;
    background: #fff;
    border-bottom: 4px solid #eee;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .attention .table_area{
    padding: 10px;
    margin: 10px auto;
    background: #eee;
    overflow: hidden;
  }
  .attention table{
    width: 100%;
    font-size: 1.4rem;
  }
  table , td, th {
	border: 1px solid #c5c5c5;
	border-collapse: collapse;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}
th {
	background: #f0e6cc;
}
.col {
  width: 20%;
  padding: 20px;
	background: #eee;
  vertical-align: middle;
  font-weight: bold;
}
.add {
  width: 80%;
  vertical-align: middle;
  padding: 20px;
	background: #fff;
}
.add span{
  color: #ea0437;
}
.attention .girl_img{
  width: 138px;
  height: 139px;
  float: left;
  margin: 20px 0 0 0;
}
.attention .txt_b{
  width: 80%;
  float: right;
  font-size: 3.8rem;
  color: #75b02d;
  margin: 20px 20px 0 20px;
}
.attention .txt{
  width: 80%;
  float: right;
  font-size: 1.4rem;
  margin: 0px 20px 0 20px;
}
.attention .red_btn{
  width: 376px;
  margin: 10px 428px 30px 20px;
  float: right;
}
.attention .bus_illast{
  position: absolute;
  top: -80px;
  right: 20px;
}

.schedule{
  width: 100%;
  overflow: hidden;
  margin: 30px 0 0 0;
}
.schedule .sub_title{
  width: 100%;
  margin: 27px 0 0 0;
  padding: 10px 15px 10px 20px;
  background: #eeeeee;
  border-bottom: 4px solid #dddddd;
  font-weight: bold;
  font-size: 1.8rem;
}
.schedule .area{
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start
  -webkit-justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.schedule .area .box{
  width: 165px;
  height: 43px;
  background: #75b02d;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 0 0;
  margin: 1px 1px 0 0;
  position: relative;
  text-decoration: none;
}
.schedule .area .box:hover{
  width: 165px;
  height: 43px;
  background: #ea0437;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 0 0;
  margin: 1px 0 0 0;
  position: relative;
}
.schedule .area .box_select{
  width: 165px;
  height: 43px;
  background: #ea0437;
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 0 0;
  margin: 1px 0 0 0;
  position: relative;
}
.sankaku{
  position: absolute;
  bottom: -4px;
right: 3px;
}
.txt_area{
  margin: 30px 0 0 0;
}
.txt_area .tit{
  font-size: 3rem;
  font-weight: bold;
  float: left;
}
.txt_area a{
  color: #333;
}
.txt_area .txt_box{
  width: 100px;
font-size: 1.4rem;
font-weight: bold;
background: #eee;
padding: 10px 10px;
text-align: center;
border-radius: 5px;
margin: 0 7px;
float: left;

}
.txt_area .txt_box:hover{
  background: #ea0437;
  color: #fff;
}

.result{
  width: 100%;
  overflow: hidden;
  margin: 30px 0 0 0;
}
.result .sub_title{
  width: 100%;
  height: 36px;
  margin: 27px 0 0 0;
  padding: 10px 15px 0 20px;
  background: #eeeeee;
  border-bottom: 4px solid #dddddd;
  font-weight: bold;
  font-size: 1.8rem;
}
.sub_min_tit{
  color: #ea0437;
  padding: 20px 15px 0 20px;
  font-size: 1.6rem;
  font-weight: bold;
}
.sub_min_tit i{
  margin: 0 5px 0 0;
}
.result_area{
  width: 100%;
  margin: 20px 0 0 0;
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.result_area .box{
  width: 320px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 5px 20px;
}
.result_area .box a{
  color: #333;
}
.result_area .box .head{
  height: 40px;
  background: #75b02d;
  padding: 5px 15px 0 15px;
}
.result_area .box .tit{
  float: left;
  color: #fff;
  font-size: 2.4rem;
  font-weight: bold;
}
.result_area .box .area{
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 1.4rem;
  padding: 5px 10px;
  float: right;
  border-radius: 3px;
  margin: 2px 0 0 0;
  font-weight: bold;
}
.result_area .box .day{
  font-size: 2.4rem;
  margin: 10px 0px 0 20px;
  font-weight: bold;
}
.result_area .box .day span{
  font-size: 1.4rem;
  font-weight: bold;
}
.departure{
  margin: 10px 0 0 0;
  padding: 0 20px;
  overflow: hidden;
}
.result_area .tag{
  width: 50px;
  text-align: center;
  background: #eeeeee;
  border: 1px solid #eaeaea;
  padding: 2px 7px;
  font-size: 1.4rem;
  float: left;
}
.result_area .txt{
  width: 65%;
  padding: 0px 7px;
  font-size: 1.6rem;
  float: left;
  font-weight: bold;
}
.result_area .txt a{
  text-decoration: underline;
  color: #333;
  font-weight: bold;
}
.arrival{
  clear: both;
  width: 100%;
  margin: 7px 0 0 0;
  padding: 0 20px;
  overflow: hidden;
}
.set{
  clear: both;
  width: 100%;
  margin: 7px 0 0 0;
  padding: 0 20px;
  overflow: hidden;
}
.map{
  clear: both;
  width: 100%;
  margin: 7px 0 0 0;
  padding: 0 20px;
  overflow: hidden;
}
.map .txt {
  vertical-align: middle;;
}
.map .txt img{
  margin: 0px 10px 0px 0;
}
.btn_area{
  text-align: center;
  width: 100%;
}
.btn_01{
  font-size: 1.3rem;
  height: 40px;
  width: 90%;
  padding: 20px 0 0 0;
  font-weight: bold;
  margin: 20px auto 0 auto;;
  text-align: center;
  background: #e8e7e3;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
}
a.btn_02 {
  font-size: 1.8rem;
  height: 40px;
  width: 90%;
  padding: 15px 0 0 0;
  font-weight: bold;
  margin: 10px auto 20px auto;
  text-align: center;
  color: #fff !important;
  display: block;
  border-radius: 5px;
  background: -moz-linear-gradient( center top, #ff9500 5%, #ff6600 100% );
  background: -ms-linear-gradient( top, #ff9500 5%, #ff6600 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#ff6600');
  background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff9500), color-stop(100%, #ff6600) );
  background-color: #ff9500;
  color: #ffffff;
  display: inline-block;
  text-shadow: 2px 2px 0px #ff3300;
  -webkit-box-shadow: 1px 3px 0px 0px #ff3300;
  -moz-box-shadow: 1px 3px 0px 0px #ff3300;
  box-shadow: 1px 3px 0px 0px #ff3300;
}


.bus_foot{
  width: 1000px;
  margin: 80px auto 0 auto;
  padding: 20px 10px;
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  overflow: hidden;
  box-sizing: border-box;
}
.bus_foot .txt{
  width: 100%;
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}
.bus_foot .tel{
  width: 450px;
  font-size: 1.6rem;
  font-weight: bold;
  float: left;
  margin: 7px 0 0 0;
}
.bus_foot .tel img{
  vertical-align: middle;
  margin: 0 10px 0 0;
}
.bus_foot .setsumei{
  float: right;
  margin: 0 110px 0 0;
}

ul.foot_menu{
  width: 1000px;
  margin: 50px auto 0;
  border-top:5px solid #90cf42;
  display: flex;
  -webkit-display: flex;
}
ul.foot_menu li{
  /*width: 166px;*/
  text-align: center;
  border-left: 1px dotted #90cf42;
  /*padding: 20px 0 20px 0;*/
  font-size: 15px;
  line-height:60px;
}
ul.foot_menu li:last-child{
  border-right: 1px dotted #90cf42;
}
ul.foot_menu li a{
  color: #000;
  font-weight: bold;
}
.sp_footer{
	  display: none;
  }
.icon{
  margin: 0 10px 0 0;
}

/*:::::::::::::::::::::::::::
  guidance
  :::::::::::::::::::::::::::*/
.guidance .tit{
  margin: 20px 0 0 0;
  overflow: hidden;
  float: left;
}
.guidance .tit_img{
  float: right;
  margin: 10px 0 0 0;
}
.guidance .tit_txt{
  width: 690px;
    padding: 10px 0 0 0;
    font-size: 14px;
    overflow: hidden;
}
/*:::::::::::::::::::::::::::
  BACK_TO_TOP
  :::::::::::::::::::::::::::*/
  #back_to_top img{
    width: 100%;
  }
  #back_to_top {
    width: 290px;
      display: none;
      position: fixed;
      bottom: 30px;
      right: 15px;
  }

}

/**************************************************
Mobile Layout
**************************************************/
@media screen and (max-width: 767px) {
  img {
    width: 100%;
  }

  .pc_header{
	  display: none;
  }
  #header {
    display: none;
  }
  #hd_logo {
  width: 70%;
    float: left;
    margin-top: 5px;
}
	#hd_logo img{
  width: 100%;
}
  .sub_header {
    width: 1020px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    padding: 12px 0 0;
  }


    #content{
      width: 95%;
      margin: 60px auto;
    }
    .attention{
      padding: 23px 17px 15px;
      background: url(../img/bus/bg.png);
      position: relative;
    }
    .title img{
      vertical-align: bottom;
    }
    .attention .copy{
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff;
    }
    .attention .sub_title{
      height: 47px;
      margin: 27px 0 0 0;
      padding: 10px 15px 0 20px;
      background: #fff;
      border-bottom: 4px solid #eee;
      font-weight: bold;
      font-size: 1.8rem;
    }
    .attention .table_area{

      padding: 10px;
      margin: 10px auto;
      background: #eee;
      overflow: hidden;
    }
    .attention table{
      width: 100%;
      font-size: 1.2rem;
    }
    table , td, th {
  	border: 1px solid #c5c5c5;
  	border-collapse: collapse;
  }
  td, th {
  	padding: 3px;
  	width: 30px;
  	height: 25px;
  }
  th {
  	background: #f0e6cc;
  }
  .col {
    width: 30%;
    padding: 5px;
  	background: #eee;
    vertical-align: middle;
    font-weight: bold;
  }
  .add {
    width: 70%;
    vertical-align: middle;
    padding: 5px;
  	background: #fff;
  }
  .add span{
    color: #ea0437;
  }
  .attention .girl_img{
    width: 30%;
    float: left;
    margin: 20px 0 0 0;
  }
  .attention .txt_b{
    width: 60%;
    float: right;
    font-size: 2rem;
    color: #75b02d;
    margin: 30px 20px 0 0px;
  }
  .attention .txt{
    width: 90%;
    overflow: hidden;
    font-size: 1.4rem;
    margin: 0px auto 0 auto;
  }
  .attention .red_btn{
    margin: 20px auto 0 auto;
    width: 90%;
  }
  .attention .bus_illast{
    width: 30%;
    position: absolute;
    top: -40px;
    right: 10px;
  }

  .sub_min_tit{
    color: #ea0437;
    padding: 20px 15px 0 20px;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .schedule{
    width: 100%;
    overflow: hidden;
    margin: 30px 0 0 0;
  }
  .schedule .sub_title{
    width: 100%;
    height: auto;
    margin: 27px 0 0 0;
    padding: 10px 15px 10px 20px;
    background: #eeeeee;
    border-bottom: 4px solid #dddddd;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .schedule .area{
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;

  }
  .schedule .area a{
    width: 33%;
    background: #75b02d;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 10px 0;
    margin: 1px 0 0 0;
    position: relative;
  }
  .schedule .area a:hover{
    background: #ea0437;
    color: #fff;
  }
  .sankaku{
    position: absolute;
    bottom: 4px;
  right: 3px;
  }
  .sankaku img{
    vertical-align: bottom;
  }

  .txt_area{
    margin: 30px 0 0 0;
  }
  .txt_area .tit{
    width: 100%;
    font-size: 3rem;
    font-weight: bold;
    float: left;
  }
  .txt_area a{
    color: #333;
  }
  .txt_area .txt_box{
    width: 30%;
  font-size: 1.4rem;
  font-weight: bold;
  background: #eee;
  padding: 10px 10px;
  text-align: center;
  border-radius: 5px;
  margin: 3px;
  float: left;
  }
  .txt_area .txt_box:hover{
    background: #ea0437;
    color: #fff;
  }

  .result{
    width: 100%;
    overflow: hidden;
    margin: 30px 0 0 0;
  }
  .result .sub_title{
    width: 100%;
    margin: 27px 0 27px 0;
    padding: 10px 15px 0 20px;
    color: #ea0437;
    background: #eeeeee;
    border-bottom: 4px solid #dddddd;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .result_area{
    width: 100%;
    margin: 20px 0 0 0;
  }
  .result_area .box{
    width: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    overflow: hidden;
    margin: 0 0 20px 0;
    box-sizing: border-box;
  }
  .result_area .box a{
    color: #333;
  }
  .result_area .box .head{
    height: 45px;
    background: #75b02d;
    padding: 5px 15px 0 15px;
  }
  .result_area .box .tit{
    float: left;
    color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
  }
  .result_area .box .area{
    background: #fff;
    color: #333;
    text-align: center;
    font-size: 1.4rem;
    padding: 5px 10px;
    float: right;
    border-radius: 3px;
    margin: 2px 0 0 0;
    font-weight: bold;
  }
  .result_area .box .day{
    font-size: 2.4rem;
    margin: 10px 0px 0 20px;
    font-weight: bold;
  }
  .result_area .box .day span{
    font-size: 1.4rem;
    font-weight: bold;
  }
  .departure{
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0 20px;
    overflow: hidden;
  }
  .result_area .tag{
    width: 50px;
    text-align: center;
    background: #eeeeee;
    border: 1px solid #eaeaea;
    padding: 2px 7px;
    font-size: 1.4rem;
    float: left;
  }
  .result_area .txt{
    width: 70%;
    padding: 0px 7px;
    font-size: 1.6rem;
    float: left;
    font-weight: bold;
  }
  .result_area .txt a{
    text-decoration: underline;
    color: #333;
    font-weight: bold;
  }
  .arrival{
    clear: both;
    width: 100%;
    margin: 7px 0 0 0;
    padding: 0 20px;
    overflow: hidden;
  }
  .set{
    clear: both;
    width: 100%;
    margin: 7px 0 0 0;
    padding: 0 20px;
    overflow: hidden;
  }
  .map{
    clear: both;
    width: 100%;
    margin: 7px 0 0 0;
    padding: 0 20px;
    overflow: hidden;
  }
  .map .txt {

  }
  .map .txt img{
    width: 4%;
    margin: 0 4px 0 0;
    vertical-align: middle;
  }
  .btn_area{
    text-align: center;
    width: 100%;
  }
  .btn_01{
    font-size: 1.2rem;
    width: 90%;
    padding: 10px 0;
    font-weight: bold;
    margin: 20px auto 0 auto;;
    text-align: center;
    background: #e8e7e3;
    border: 1px solid #cbcbcb;
    border-radius: 5px;
  }
  a.btn_02 {
    font-size: 1.8rem;
    height: 40px;
    width: 90%;
    padding: 15px 0 0 0;
    font-weight: bold;
    margin: 10px auto 20px auto;
    text-align: center;
    color: #fff !important;
    display: block;
    border-radius: 5px;
    background: -moz-linear-gradient( center top, #ff9500 5%, #ff6600 100% );
    background: -ms-linear-gradient( top, #ff9500 5%, #ff6600 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#ff6600');
    background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ff9500), color-stop(100%, #ff6600) );
    background-color: #ff9500;
    color: #ffffff;
    display: inline-block;
    text-shadow: 2px 2px 0px #ff3300;
    -webkit-box-shadow: 1px 3px 0px 0px #ff3300;
    -moz-box-shadow: 1px 3px 0px 0px #ff3300;
    box-shadow: 1px 3px 0px 0px #ff3300;
  }

  .bus_foot{
  width: 100%;
  margin: 50px 0 0 0;
  padding: 20px 10px;
  border-top: 5px solid #eee;
  border-bottom: 5px solid #eee;
  box-sizing: border-box;

}
.bus_foot .txt{
  width: 100%;
  font-size: 1.5rem;
  margin: 0 0 20px 0;
}
.bus_foot .tel{
  width: 100%;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 7px 0 0 0;
}
.bus_foot .tel img{
  width: 5%;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
.bus_foot .setsumei{
  width: 90%;
  margin: 10px auto 0 auto;
  overflow: hidden;
}

ul.foot_menu{
  width: 100%;
  margin: 50px auto 0;
  border-top:5px solid #90cf42;
}
ul.foot_menu li{
  width: 100%;
  text-align: left;
  border-bottom: 1px dotted #90cf42;
  padding: 15px 0 15px 15px;
  font-size: 15px;
  position: relative;
  box-sizing: border-box;
}
ul.foot_menu li:after{
  font-family: 'FontAwesome';
  content: "\f054";
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -12px;
}
ul.foot_menu li:last-child{
  border-right: 1px dotted #90cf42;
}
ul.foot_menu li a{
  color: #000;
  font-weight: bold;
}

.icon{
  margin: 0 10px 0 0;
}

/*:::::::::::::::::::::::::::
  guidance
  :::::::::::::::::::::::::::*/
.guidance .tit{
  margin: 20px 0 0 0;
  overflow: hidden;
  float: left;
}
.guidance .tit_img{
  width: 90%;
  margin: 10px auto 0 auto;
}
.guidance .tit_txt{
  width: 90%;
  margin: 0 auto;
    padding: 10px 0 0 0;
    font-size: 14px;
    overflow: hidden;
}
/*:::::::::::::::::::::::::::
  BACK_TO_TOP
  :::::::::::::::::::::::::::*/
  #back_to_top img{
    display: none;
  }
  #back_to_top {
      display: none;
  }


.pc_footer{
  display: none;
}

}
