nav#targetNav {
    background: #fbf0d3 url("../img/header/targetnav_bg.png") repeat-x scroll left top;
    border-top: 1px solid #f5e4c9;
    margin: 0 auto;
}
.sub_header {
    display: flex;
    height: 33px;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px 0 0;
    width: 1020px;
}

/*イベント用CSS*/
dl.event_ts{
	color: #666666;
	width: 80%;
	margin: 0 5px 5px 0;
	border: solid 1px #e84728;
	border-radius: 5px;
	padding: 0 0 5px 0;
	float: left;
}
dl.event_ts dt{
	background-color: #e84728;
	color: #fff;
	font-size: 1.1em;
	padding: 5px;
}
dl.event_ts dd{
	padding: 3px 2px;
}
dl.event_ts dd:first-letter{
	background: #e84728;
	color: #fff;
	padding: 1px 5px;
	margin-right: 3px;
	border-radius: 50%;
}
span.event_ico {
	display: inline-block;
	padding: 2px;
	background:#D0121C;
	color:#FFF;
	font-size: 10px;
	border-radius: 3px;
	margin: 0 3px 3px 3px;
	font-weight: normal!important;
}
span.event_ico_w {
	display: inline-block;
	padding: 2px;
	background:#FFF;
	color:#D0121C;
	border: solid 1px #D0121C;
	font-size: 10px;
	border-radius: 3px;
	margin: 0 3px 3px 3px;
	font-weight: normal!important;
}
span.event_ico_black {
	display: inline-block;
	padding: 2px;
	background:#333;
	color:#FFF;
	border: solid 1px #222;
	font-size: 10px;
	border-radius: 3px;
	margin: 0 3px 3px 3px;
	font-weight: normal!important;
}
dl.schedule_explain {
    list-style: outside none none;
}
dl.schedule_explain dt {
    color: #fff;
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px;
    background: #EA0437;
    margin-top: 10px;
}
dl.schedule_explain dd {
    border-bottom: 1px dotted #ccc;
    font-size: 1.4em;
    padding: 3px 10px;
}

/* -----------------------------------------------------------------------
## 全体的な調整(PC/SP) ###################################################
----------------------------------------------------------------------- */
#contant .right {
	text-align: left;
}
#fixedNav {
	display: none;
}
.bold {
	font-weight: bold;
}
.slide_area {
	font-size: 10px;
}
#contant {
	font-size: 10px;
	line-height: 1.5;
}
span.sat {
	font-size: 10px;
	color: #0000FF;
}
span.sun{
	font-size: 10px;
	color: #FF0000;
}
.cal_box {
	background: #F1F1F1;
}
.ui-widget-header {
	border: 1px solid #000;
	background: #333333 url(/nsm_ac_jp/common/img/bg_gloss-wave.png) 50% 50% repeat-x;
}
.btn_area {
/*	display: flex;
	display: -webkit-flex;
	justify-content: center;
    -webkit-justify-content: center;*/
}
.results_detail_btn , .results_entry_btn {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-shadow:none;
	font-weight:bold;
    width: 49%;
	padding:15px 5px;
	border-radius:3px;
	box-sizing:border-box;
	margin:0 2% 0 0;
}
.btn_area a:only-child {
	width: 100%;
}

.results_entry_btn {
	margin:0 1px 0 0;
}
.results_detail_btn {
	background:#76B429;
	box-shadow:1px 3px 0px 0px #324B12;
}
.results_detail_btn:hover {
	background:#324B12;
}
.results_entry_btn {
	background:#EA0437;
	box-shadow:1px 3px 0px 0px #77021D;
}
.results_entry_btn:hover {
	background:#77021D;
}
/* 他の日程と分野で探す */
.content_box .btn_box a.btn_right , .content_box .btn_box a.btn_left {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.content_box .btn_box a.btn_right.active, .sp_cover_btn a.btn_right.active {
	background:#EA0437;
	color:#FFF;
	box-shadow:1px 3px 0px 0px #77021D;
	text-shadow:none;
}
.content_box .btn_box a.btn_right.active:hover , .sp_cover_btn a.btn_right.active:hover {
	background:#77021D;
}
.content_box .btn_box a.btn_left.active, .sp_cover_btn a.btn_left.active {
	background:#76B429;
	color:#FFF;
	box-shadow:1px 3px 0px 0px #324B12;
	text-shadow: none;
}
.content_box .btn_box a.btn_left.active:hover , .sp_cover_btn a.btn_left.active:hover {
	background:#324B12;
}
.ui-state-highlight a , .ui-widget-content .ui-state-highlight a , .ui-widget-header .ui-state-highlight a {
	background-color:#FBCDD7;
	border: 1px solid #EA0437;	
}
/*詳細ページボタン*/
.submit_btn , .entry_btn {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-shadow:none;
	font-weight:bold;
    width: 260px;
	padding:10px 5px;
	border-radius:3px;
	box-sizing:border-box;
	margin:0 10px;
	background:#EA0437;
	box-shadow:1px 3px 0px 0px #77021D;
	cursor:pointer;
}
.submit_btn {
	-webkit-appearance: none;
}
.entry_btn {
	width:200px;
	margin:0;
}
.entry_btn.fade {
	transition:none;
}
.entry_btn:hover {
	opacity:1.0;
	color:#FFF;
}
.submit_btn:hover , .entry_btn:hover {
	background:#77021D;
}
/* -----------------------------------------------------------------------
## イベントインデックスページ調整(PC/SP) #################################
----------------------------------------------------------------------- */
/*見出し*/
h5.h5_text {
    background: #EFEFEF;
    padding: 10px;
    font-weight: bold;
    border: none;
    font-size: 14px;
    line-height: 1.4;
}

/* sliderのカラー調整 */
.slide_area {
	background-color: #F1F1F1;
}
.slick-dots li {
	background: #C40807;
}
.slick-dots li.slick-active button::before {
	background: #620404;
}
.slick-prev,
.slick-next {
	background: #333;
}
.slider .box .min_tit {
	font-size: 1.8rem!important;
	font-weight: bold;
	}
.slider .box .day .day_tit {
	color: #FFF;
	background: #333;
	padding: 3px;
	/*border-radius: 3px;*/
	font-size: 0.8em!important;
}
#catgory_area .box img {
	width: 100%;
}
.event_box {
	margin: 5px 0 0 0;
}
.event_box .event {
	width: 130px;
	margin: 0 0 7px 3px;
}
.event_box .event img {
	width: 100%;
}
/*その他のオープンキャンパスメニュー*/
#other_area,
#course_point_area {
	margin-top:20px;
	float:none;
	width:100%;
	background: url(http://www.nsm.ac.jp/common/img/gray_bg.gif) repeat top left #EEE;
	padding:20px 20px 5px;
	box-sizing:border-box;
	overflow: hidden;
	clear: both;
}
#other_area p,
#course_point_area p {
	text-align:center;
	background-color:#000;
	color:#FFF;
	padding:5px 0;
	font-weight:bold!important;
	margin-bottom:15px;
	font-size:16px!important;
}
#other_area li,
#course_point_area li {
	width:19%;
	float:left;
	margin-right:10px;
}
#other_area li a,
#course_point_area li a {
	display:block;
	font-size:14px!important;
	padding:5px 5px 15px;
	background-color:#FFF;
	text-align:center;
	border:1px solid #CCC;
	color:#333;
	font-weight:bold;
	margin-bottom:15px;
	
	-webkit-transition: 0.2s ease-in-out;
	-moz-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}
#other_area li a img,
#course_point_area li a img {
	display:block;
	margin-bottom:15px;
	width: 100%;
}
#other_area li a:hover,
#course_point_area li a:hover {
	background-color:#EA0437;
	color:#FFF;
}
#other_area li.other_area_two_line a,
#course_point_area li.other_area_two_line a {
	padding: 5px 5px 4px;
	font-size: 12px;
}
#other_area li.other_area_two_line a img,
#course_point_area li.other_area_two_line a img {
	margin-bottom: 5px;
}
#other_area li.other_area_three_line a,
#course_point_area li.other_area_three_line a {
	padding: 7px 4px;
	font-size: 12.4px !important;
}
#other_area li.other_area_three_line a img,
#course_point_area li.other_area_three_line a img {
	margin-bottom: 5px;
}
.syousai_box {
	border:1px solid #CCC;
	padding:5px;
	margin:10px 0 30px;
}
.syousai_box .syousai_right .min_tit, .syousai_box .syousai_nophoto .min_tit {
	font-size:16px;
	font-weight:bold;
	padding-bottom:5px;
	margin-bottom:5px;
	margin-top:0;
	border-bottom:1px solid #CCC;
}
.syousai_box p.min_tit:before {
	content: "\f007";
	font-family: FontAwesome;
	font-weight: normal;
	padding-right: 5px;
}
.syousai_box p.txt {
	padding:5px;
	
}
/*ヴォーカル動画*/
/*動画部分CSS*/
#detailWrapper .course_movie {
	 border: 3px solid #DE0010;
     border-radius: 3px;
	 clear: both;
     overflow: hidden;
	 margin-top:20px;
	 background: #EEEEEE;

}
#detailWrapper .course_movie .course_movie_area {
	width: 70%;
	float: right;
}
#detailWrapper .course_movie .course_movie_area iframe {
	width: 448px;
	height: 252px;
	float: right;
	padding: 10px 10px 10px 0;
}
#detailWrapper .course_movie dl {
	width: 26%!important;
	padding: 5px;
	float: left;
	background: #fff;
	margin: 10px 0 10px 10px!important;
	border: #CCCCCC solid 1px!important;
}
#detailWrapper .course_movie dl dt {
	background:#DE0010;
	border-radius: 3px;
	color: #fff!important;
	line-height: 160%;

	padding: 5px 5px 0 5px!important;
	font-size: 16px!important;
}
#detailWrapper .course_movie dl dt span {
	font-size: 0.8em;
	line-height: 120%;
}
#detailWrapper .course_movie dl dd {
	line-height: 160%;
	padding-top: 5px;
}


/*動画部分CSS 2カラム*/
#detailWrapper .course_movie_s {
	 border: 3px solid #DE0010;
  border-radius: 3px;
		overflow: hidden;
		margin-bottom: 10px;
		background: #EEEEEE;
		width: 48.5%;
		float: left;
}
#detailWrapper .course_movies .course_movie_s:nth-child(2n) {
	float: right;
	}
#detailWrapper .course_movie_s p.course_movie_area {
	/*padding: 5px;*/
	width: 100%;
}
#detailWrapper .course_movie_s p.course_movie_area iframe {
	width: 320px;
	height: 180px;
	padding-left: 5px;
	margin: 5px 0;
}
#detailWrapper .course_movie_s dl {
	float: left;
	background: #fff;
	margin: 5px!important;
	border: #DE0010 solid 1px!important;
	width: 96%;
}
#detailWrapper .course_movie_s dl dt {
	background:#DE0010;
	color: #fff!important;
	line-height: 160%;
	padding: 5px 5px 0 5px!important;
	font-size: 16px!important;

    margin: 5px 5px 5px;

}
#detailWrapper .course_movie_s dl dt span {
	font-size: 0.8em;
	line-height: 120%;
}
#detailWrapper .course_movie_s dl dd {
	line-height: 160%;
	padding:0 5px 0 5px;
}


/*動画部分CSS 3カラム*/
#detailWrapper .course_movies_03_2 {
	 border: 3px solid #DE0010;
     border-radius: 3px;
     overflow: hidden; /* heightを戻す */
	 background: #EEEEEE;
	 /*padding-left:7px;*/
	}

#detailWrapper .course_movie_03_2 {
	 /*border: 3px solid #DE0010;
  border-radius: 3px;*/
		overflow: hidden;
		margin-bottom: 10px;
		margin-right:7px;
		background: #EEEEEE;
		width: 32.5%;
		float: left;
}
#detailWrapper .course_movies_03_2 .course_movie_03_2:nth-child(3n) {
	/*float: right;*/
	margin-right:0;
	}
#detailWrapper .course_movie_03_2 p.course_movie_area {
	/*padding: 5px;*/
	width: 100%;
}
#detailWrapper .course_movie_03_2 p.course_movie_area iframe {
	width: 100%;
	height: 180px;
	/*padding-left: 7px;*/
	margin: 7px 0 0 0;
}
#detailWrapper .course_movie_03_2 dl {
	background: #fff;
	/*margin: 0px 4px 5px 7px!important;*/
	border: #DE0010 solid 1px!important;
	width: 99%;
}
/*#mainContents .course_movie_03_2 dl dt {
	background:#DE0010;
	color: #fff!important;
	line-height: 160%;
	padding: 2px 0px 0 6px!important;
	font-size: 12px!important;
    margin:0;

}*/
#detailWrapper .course_movie_03_2 dl dt {
	line-height: 150%;
	padding:5px 6px 0px 6px;
	font-size: 12px;
}
#detailWrapper .course_movies_03_2 p.m_category {
	background:#DE0010;
	color: #fff!important;
	line-height: 160%;
	padding: 3px 0px 3px 8px!important;
	font-size: 15px!important;
    margin:0;

}
#detailWrapper .course_movie_03_2 dl dt span {
	font-size: 0.8em;
	line-height: 120%;
}
#detailWrapper .course_movie_03_2 dl dd {
	line-height: 150%;
	padding:0px 6px 3px 6px;
	font-size: 12px;
}


/*動画部分CSS 2カラム　共通テキストまとめて表記ver*/
#detailWrapper .course_movies_02 {
	 border: 3px solid #DE0010;
     border-radius: 3px;
     overflow: hidden; /* heightを戻す */
	 background: #EEEEEE;
	 /*padding-left:7px;*/
	}

#detailWrapper .course_movie_02 {
	 /*border: 3px solid #DE0010;
  border-radius: 3px;*/
		overflow: hidden;
		margin-bottom: 10px;
		margin-right:7px;
		background: #EEEEEE;
		width: 49.4%;
		float: left;
}
#detailWrapper .course_movies_02 .course_movie_02:nth-child(2n) {
	/*float: right;*/
	margin-right:0;
	}
#detailWrapper .course_movie_02 p.course_movie_area {
	/*padding: 5px;*/
	width: 100%;
}
#detailWrapper .course_movie_02 p.course_movie_area iframe {
	width: 100%;
	height: 180px;
	/*padding-left: 7px;*/
	margin: 7px 0 0 0;
}
#detailWrapper .course_movie_02 dl {
	background: #fff;
	/*margin: 0px 4px 5px 7px!important;*/
	/*border: #DE0010 solid 1px!important;*/
	width: 100%;
	box-shadow: 0 0 0 1px #DE0010 inset;
}
/*#mainContents .course_movie_02 dl dt {
	background:#DE0010;
	color: #fff!important;
	line-height: 160%;
	padding: 2px 0px 0 6px!important;
	font-size: 12px!important;
    margin:0;

}*/
#detailWrapper .course_movie_02 dl dt {
	line-height: 150%;
	padding:5px 6px 0px 6px;
	font-size: 12px;
}
#detailWrapper .course_movies_02 p.m_category {
	background:#DE0010;
	color: #fff!important;
	line-height: 160%;
	padding: 3px 0px 3px 8px!important;
	font-size: 15px!important;
    margin:0;

}
#detailWrapper .course_movie_02 dl dt span {
	font-size: 0.8em;
	line-height: 120%;
}
#detailWrapper .course_movie_02 dl dd {
	line-height: 150%;
	padding:0px 6px 3px 6px;
	font-size: 12px;
}
/*詳細ページ単一動画*/
#youtube_include {
    margin: auto;
    padding-top: 56.25%;
    position: relative;
    width: 98%;
}
#youtube_include iframe {
    height: 100% !important;
    position: absolute;
    right: 0;
    top: 0;
    width: 100% !important;
}
/*ピックアップバナー*/
#contant p.pick_up_banner {
	margin-bottom: 10px;
}
#contant p.pick_up_banner a:hover {
	opacity:0.6;
	filter: alpha(opacity=60);
	-ms-filter: "alpha( opacity=60 )";
	background: #fff;
}
/*マイスクール*/

.Myschool_box table {
	margin: 10px 0;
}

.Myschool_box table th {
	background:#333;
	color:#FFF;
	text-align: center;
	border-bottom: #FFF solid 1px;
	width: 15%;
	font-size: 1.4em;
	padding: 3px;
}
.Myschool_box table td {
	padding: 5px 10px;
	color:#000;
	border: none;
	border-bottom: #333 dashed 1px!important;
	width: 85%;
	text-align: left!important;
	/*background: url(img/bg_myschool_td.png) repeat;*/
	font-size: 1.3em;
}

.Myschool_box dl {
}
.Myschool_box dl dt {
	color:#CC0000;
	font-weight: bold;
	padding-top: 3px;
}
.Myschool_box dl dd {
	font-weight: normal!important;
}
.Myschool_teacher_box  {
	font-size: 1.4em;
	border:solid 1px #CC0000;
	padding:10px;
	border-radius:5px;
}
.Myschool_teacher_box dl dt {
	color:#CC0000;
	font-weight: bold;
	padding-top: 3px;
}
.Myschool_teacher_box dl dd {
	font-weight: normal!important;
}

.Myschool_qa,
.Myschool_merit,
.Myschool_entry {
	padding: 10px;
	border-radius: 6px;
}
.Myschool_qa {
	border: 4px solid #c9dae4;
	padding-bottom: 0;
}
.Myschool_merit {
	border: 4px solid #e73462;
	position:relative;
}
.Myschool_merit .thickbox {
	position:absolute;
	width:60%;
	top:87.5%;
	left:27.5%;
}


.Myschool_entry {
	border: 4px solid #f6ab00;
	text-align: center;
}
.Myschool_entry .results_entry_btn {
	display: inline-block;
	float: none;
	font-size: 14px;
}

#Myschool .bg_pro_01 p {
	box-sizing:border-box;
}

/* -----------------------------------------------------------------------
## イベントresultページ調整(PC/SP) #######################################
----------------------------------------------------------------------- */
.left #search_now .day,
.left #search_now2 .day,
.right #search_now .day,
.right #search_now2 .day {
	border-bottom: 1px dotted #666;
}
.img_fitting {
}
.img_fitting p {
	width: 100%;
	float: left;
}
.img_fitting p img {
	width: 100%;
}
/* -----------------------------------------------------------------------
## イベントバスページ調整(PC/SP) #########################################
----------------------------------------------------------------------- */
/* その他 */
#content .title {
	width: auto;
	float: none;
	padding: 0;
}
.attention .copy,
.attention .sub_title,
.attention table,
.attention .txt_b,
.attention .txt,
.result .sub_title,
.schedule .sub_title,
.schedule .area .box:hover,
.schedule .area .box,
.schedule .area a .box_select,
.result,
.bus_foot .txt {
	line-height: 1.5;
}
.attention table {
	border: 1px solid #c5c5c5;
}
.attention table td {
	border: 1px solid #c5c5c5;
	border-collapse: collapse;
}
.attention table td a {
	text-decoration: underline;
}
.schedule .area .box:hover,
.schedule .area .box {
	margin: 1px 1px 0 0;
}
.schedule .area .box_select {
	margin: 1px 1px 0 0;
}
.txt_area .txt_box_select {
	width: 100px;
	font-weight: bold;
	background: #ea0437;
	color: #FFF;
	padding: 10px 10px;
	text-align: center;
	border-radius: 5px;
	margin: 0 7px;
	float: left;
}
.result_area .box .head,
.schedule .area .box {
	background: #444;
}
.result_area .map img {
	vertical-align: baseline;
}
.result_area .btn_01 {
	margin: 20px auto;
}
.result_area .map {
	margin-bottom: 15px;
}
#bus_result_cont_box .result_area .btn_area a.btn_02 {
	display: none;
}
.foot_menu li {
	-webkit-flex-grow: 1;
	flex-grow: 1;
}
.event_name .icon,
.event_day .icon {
	background: #333333!important;
	color: #fff!important;
}
.result_area .btn_01.fade {
	background:#76B429;
	color:#FFF;
	box-shadow:1px 3px 0px 0px #324B12;
	text-shadow: none;
	font-size:14px;
	width: 92%;
    margin: 20px auto 20px;
    padding: 5px;
}
.result_area .btn_01.fade:before {
	content: "\f073";
	font-family: FontAwesome;
	font-weight: normal;
	padding-right: 5px;
}
.result_area .btn_01 {
    border: none;
    height: auto;
    padding: 10px;
}
.result_area .btn_01:nth-child(2) {
	/*display: none;*/
}
/*ガイダンス*/
#content .guidance .tit {
	margin-bottom: 15px;
}
.bus_foot .about_guidance {
}
.bus_foot .about_guidance h3 {
	color: #fff;
    font-size: 2.4rem;
    font-weight: bold;
    background: #EA0437;
    padding: 5px 15px;
    margin-bottom: 10px;
}
.bus_foot .about_guidance dl dt {
    font-size: 2.0rem;
    border-bottom: 3px dotted #ccc;
    color: #EA0437;
    padding: 5px;
}
.bus_foot .about_guidance dl dd {
    font-size: 1.5rem;
    padding: 10px 5px 15px 5px;
}
ul.foot_menu {
	border-top: 5px solid #EA0437!important;
}
#guidance_result_cont_box {}
#guidance_result_cont_box .result .btn_01.fade {
	display: none;
}
/*TELボタンエリア*/
.TelBlock p {
	font-size: 1.5em;
	text-align: center;
}
.TelBlock a {
	display: block;
	text-align: center;
	color: #fff;
	background: #FFB74C;
    text-shadow: 0 1px 1px #d97703;
    border: 1px solid #ff9900;
    font-size: 2.0em;
    padding: 10px 0;
    -webkit-border-radius: 5px;
            border-radius: 5px;
}
/* -----------------------------------------------------------------------
## PCのみの調整 ##########################################################
----------------------------------------------------------------------- */
@media screen and (min-width: 768px){
	/* ################# 全体 ################# */
	/* その他 */
	.attention p img {
		vertical-align: baseline;
	}
	.results_detail_btn , .results_entry_btn {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-shadow:none;
	font-weight:bold;
    width: 290px;
	padding:15px 5px;
	border-radius:3px;
	box-sizing:border-box;
	margin:0 10px;
	}
	.results_detail_btn {
		background:#76B429;
		box-shadow:1px 3px 0px 0px #324B12;
	}
	.results_detail_btn:hover {
		background:#324B12;
	}
	.results_entry_btn {
		background:#EA0437;
		box-shadow:1px 3px 0px 0px #77021D;
	}
	.results_entry_btn:hover {
		background:#77021D;
	}
	.sp_search_btn_area {
		display: none;
	}

	/* ################# インデックス ################# */
	/* カラー */
	#event_area .tit,
	#cal_area .tit {
		background: #C40807;
	}
	#catgory_area .box {
		border-top-color: #C40807;
	}
	
	/*その他のオープンキャンパス*/
	#other_area li:nth-child(5n),
	#course_point_area li:nth-child(5n) {
	margin-right:0;
	}

	/* その他 */
	#event_area .tit,
	#cal_area .tit,
	.syousai_right .min_tit {
		/*border-radius: 4px;*/
		font-size: 1.8em;
	}
	.event_box .event {
		margin: 0 3px 7px 0;
	}
	#catgory_area .box .photo {
		background: #fff;
	}
	/*サブナビMyスクール削除*/
	div.category .list #snavi_event_myschool {
		display: none;
	}
	#contant p.pick_up_banner a img {
		/*width: 50%;*/
		width: 100%;
		box-sizing: border-box;
	}
	#contant p.pick_up_banner a img:nth-child(2n){
		padding-left: 5px;
	}
	#contant p.pick_up_banner a img:nth-child(2n+1){
		padding-right: 5px;
	}
	/*バナーサイズ調整*/
	#contant p.pick_up_banner.bnr_flex50 {
		display:flex;
		flex-wrap:wrap;
	}
	#contant p.pick_up_banner.bnr_flex50 a {
		width:50%;
		margin-bottom:5px;
	}
	
	/*当日のスケジュール*/
	.time_schedule {
	border: 1px solid #ccc;
    padding: 5px;
    margin-top: 20px;
	}
	.time_schedule p {
	    font-size: 16px;
	    font-weight: bold;
	    margin: 0 5px 5px;
	}
	p.index_attention {
		font-size: 1.2em!important;
		font-weight: normal!important;
		margin-top: 10px;
	}
	.pc_none {
	display:none!important;
	}

	/* ################# result ################# */
	/* カラー */
	.left #search_now .tit,
	.left #search_now2 .tit {
		background: #111111;
	}
	.left .content_box {
		background: #F1F1F1;
	}
	.left #acMenu dt .toggle_icon {
		background: #111111;
	}
	.right #catgory_area .box,
	.right .work_box {
		border-top-color: #C40807;
	}
	.right .zero_mess {
		border-top-color: #C40807;
	}
	.right .work_box,
	.right .zero_mess {
		background: -moz-linear-gradient(top,  #F1F1F1 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #F1F1F1 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #F1F1F1 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#ffffff',GradientType=0 );
	}
	.left .min_tit {
		background: #505050;
	}
	#acMenu dt,
	.check {
		border-bottom-color: #F1F1F1;
	}

	/* その他 */
	.left .list input.chack_box {
		vertical-align: baseline;
	}

	/* ################# 詳細ページ ################# */
	.syousai_box .syousai_nophoto .min_tit {
		/*font-size: 2.4em;*/
	}
	.syousai_box .syousai_nophoto .txt {
		font-size: 1.4em;
	}

	/* カラー */
	.pc_table_box .tit {
		background: #C40807;
		color: #fff;
	}
	/* その他 */
	.pc_table_box .tit {
		text-align: left;
	}
  .pc_table_box th {
    height: 27px;
    text-align: center;
    background: #ddd;
    border: 1px solid #fff;
    font-weight: 700;
    padding: 3px 0 0;
  }
  .pc_table_box td {
    height: 27px;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    font-weight: 700;
    padding: 5px 10px;
    vertical-align: middle;
  }
  .pc_table_box th.col_04,
  .pc_table_box td:nth-child(3),
  body#page-bus .result .arrival {
		display: none;
  }
	#contant .entry_btn {
		font-weight: bold;
	}

	/*バス・ガイダンス*/

	ul.foot_menu li {
		border-left: 1px dotted #EA0437!important;
	}
	ul.foot_menu li:last-child {
		border-right: 1px dotted #EA0437!important;
	}

	/*説明会*/
	.ao_link_btn a {
    background: -webkit-gradient(linear, left top, left bottom, from(#ED1D14), color-stop(50%,#ED1D14), color-stop(50%,#CC0000), to(#CC0000));
	background: -moz-linear-gradient(top, #ED1D14, #ED1D14 50%, #CC0000 50%, #CC0000);
	color:#FFF;
	text-align: center;
	font-size: 1.4em;
	outline: #CC0000 solid 1px;
	border: #fff solid 1px;
    padding: 15px 0;
    text-align: center;
    width: 98%;
    position: absolute;
    top: 330px;
	}
	.ao_link_btn a:hover {
		opacity:0.6;
		filter: alpha(opacity=60);
		-ms-filter: "alpha( opacity=60 )";
	}
	dl.schedule dt{
		font-size:12px;
		font-weight:bold;
		color:#C90;
		border-bottom:#CCC 1px solid;
		padding:3px;
	}
	dl.schedule dd{
		font-size:10px;
		border-bottom:#CCC 1px solid;
		padding:3px;
	}
	/*マイスクール画像をいれたいため、画像サイズなど調節*/
.Myschool_box.Myschool_images_pc table {
}
.Myschool_box.Myschool_images_pc table dl dt {
	font-size: 1.4em;
}
.Myschool_box.Myschool_images_pc table dl dt img {
	width: 80%;
}



}


/* -----------------------------------------------------------------------
## スマホのみの調整 ######################################################
----------------------------------------------------------------------- */
@media screen and (max-width: 767px){
	/* カラー */
	#event_area .tit,
	#cal_area .tit,
	#search_now .tit,
	#search_now2 .tit,
	.left .min_tit,
	.pc_table_box .tit,
	.sp_table_box .tit_bg,
	.syousai_right .min_tit,
	.syousai_nophoto .min_tit {
		background: #111111!important;
	}
	#catgory_area .box,
	.work_box {
		border-top: 5px solid #C40807;
	}
	.ui-widget-header {
	border: 1px solid #000!important;
	background: #333333 url(/nsm_ac_jp/common/img/bg_gloss-wave.png) 50% 50% repeat-x!important;
	color: #fff!important;
	}


	/* その他 */
	.attention {
		margin: 0 15px 0 0;
		padding-left:20px;
		font-weight:bold;
		font-size: 1.4em;
	}
	#event_area .tit,
	#cal_area .tit {
		/*border-radius: 4px;*/
		font-size: 2.0em!important;
	}
	div.work_box .box .day {
	font-size: 1.2em!important;
	}
	.slider .box .day .day_tit {
	font-size: 1.0em!important;
	}
	.event_box {
		-webkit-justify-content: space-between;
		justify-content: space-between;
	    display: block!important;
	}
	.event_box .event {
	width: 32%;
	float: left;
	}
	.event_box .event:nth-child(3n+1) {
		clear: both;
	}
	#datepicker .ui-datepicker {
		width: auto;
	}
	#catgory_area .box .photo {
		background: #fff;
	}
	/*その他のオープンキャンパスメニュースマホ*/
	#other_area,
	#course_point_area {
	margin:30px 0 0;
	background: url(http://www.nsm.ac.jp/common/img/gray_bg.gif) repeat top left #EEE;
	padding:20px 10px 15px;
	box-sizing:border-box;	
	}
	#other_area p,
	#course_point_area p {
		text-align:center;
		background-color:#000;
		color:#FFF;
		padding:5px 0;
		font-size:14px;
		font-weight:bold;
		margin-bottom:10px;
	}
	#other_area li,
	#course_point_area li {
		float:left;
		width:49%;
		margin:0 2% 5px 0;
	}
	#other_area li:nth-child(2n),
	#course_point_area li:nth-child(2n)	 {
		margin-right:0;
	}
	#other_area li a,
	#course_point_area li a {
		display:block;
		padding:5px 5px 10px;
		background-color:#FFF;
		text-align:center;
		border:1px solid #CCC;
		color:#333;
		font-weight:bold;
		font-size:14px;
		
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	#other_area li a img,
	#course_point_area li a img {
		display:block;
		margin-bottom:8px;
	}
	#other_area li.other_area_two_line a,
	#course_point_area li.other_area_two_line a {
	padding: 5px 5px 0;
	font-size: 12px!important;
	}
	#other_area li.other_area_two_line a img,
	#course_point_area li.other_area_two_line a img {
		margin-bottom: 3px;
	}
#other_area li.other_area_three_line a,
#course_point_area li.other_area_three_line a {
	padding: 5px 5px 9px;
	font-size: 9px !important;
}
#other_area li.other_area_three_line a img,
#course_point_area li.other_area_three_line a img {
		margin-bottom: 3px;
}
	.sp_none {
	display:none!important;
	}
	.ttl_h4 {
	padding: 5px;
	margin: 10px 0;
	border-bottom: 1px solid #ccc;
	background:#EBEBEB;
	}

	/*スケジュールアコーディオン*/
	dl.schedule {
	padding:0 10px;
	font-size: 16px;
	}
	.accMenu {
	padding:20px 10px;
	font-size: 16px;
	}
	.accMenu .title,
	.accMenu_myschool .title,
	.accMenu_event .title	 {
		margin-bottom: 10px;
		border:1px solid #CCC;
		padding:3px;
		text-align:center;
		position:relative;
	}
	.accMenu .title span,
	.accMenu_myschool .title span,
	.accMenu_event .title span {
		padding:15px 10px 15px 28px;
		background-color:#EEE;
		display:block;
		line-height:1.6;
	}
	.accMenu .title span:before,
	.accMenu_myschool .title span:before,
	.accMenu_event .title span:before	 {
		content: "\f0fe";
		font-family: FontAwesome;
		position:absolute;
		top:50%;
		left:10px;
		margin-top:-10px;
	}
	.accMenu .title.open span,
	.accMenu_myschool .title.open span ,
	.accMenu_event .title.open span {
		background-color:#EA0437;
		color:#FFF;
	}
	.accMenu .title.open span:before,
	.accMenu_myschool .title.open span:before ,
	.accMenu_event .title.open span:before {
		content: "\f146";
	}
	.accMenu dt, .accMenu dd {
		/*padding:10px;*/
	}
	.accMenu dt {
		clear:left;
		float:left;
		padding-top:5px;
	}
		.accMenu dd {
		margin-left:120px;
		min-height:80px;
		border-bottom:1px dashed #CCC;
		padding:10px;
		line-height: 100%;
		color:#EA0437;
	}
	.accMenu dd .time {
		margin-bottom:5px;
		font-weight:bold;
		color:#333;
	}
	.accMenu dd span {
		font-size: 0.8em;
		color:#333;
	}
	.accMenu dd .time:before {
		content: "\f017";
		font-family: FontAwesome;
		font-weight: normal;
		padding-right: 5px;
	}
	 .accMenu_event p.title {
	    font-size: 16px;
	    margin-top: 20px;
	}
	.index_attention {
		font-size: 1.2em;
		padding-left: 10px;
	}
	#contant p.pick_up_banner {
		margin: 10px;
	}
	#contant p.pick_up_banner a {
		margin-bottom: 10px;
		display: block;
	}
	#searchlinkNav {
		width:95%;
		margin:0 auto 20px auto;
		font-size:1.6rem;
		box-sizing:border-box;
		font-weight:600;
	
        word-break: break-all;
        outline: none;
        display: block;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 10px 16px;
        line-height: 20px;
        text-decoration: none;
        background:#EA0437;
		box-shadow:1px 3px 0px 0px #77021D;
	}
	#searchlinkNav ul {
		display:table;
		width:100%;
		}
	#searchlinkNav li {
		display:table-cell;
	}
		#searchlinkNav li:first-child {
			border-right:1px solid #FFF;
			}
	#searchlinkNav a {
		display:block;
		text-align:center;
		color:#FFF;
		padding:10px 0;
	}

/* !footNavi
---------------------------------------------------------- */
#footNavi {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow:0px -5px 2px -5px #333333;
	-moz-box-shadow:0px -5px 2px -5px #333333;
	-webkit-box-shadow:0px -5px 2px -5px #333333;
	border-top: #000 solid 1px;
	background: #FED223;
	-webkit-background-size: 20px 20px;
	-moz-background-size: 20px 20px;
	background-size: 20px 20px;
	background-image: linear-gradient(
    -45deg,
    #FEDE61 25%,
    #FED223 25%, #FED223 50%,
    #FEDE61 50%, #FEDE61 75%,
    #FED223 75%, #FED223
  );
  /* 幅8px、高さ8pxで背景画像のサイズを指定 */
  background-size: 8px 8px;
}
#footNavi li {
	float: left;
	font-size: 1.4rem;
	text-align: center;
	font-weight: bold;
}
#footNavi li .fa {
	font-size: 1.9rem;
}
#footNavi li a {
	display: block;
	/*padding: 15px 0;*/
	padding: 5px 0;
	line-height: 130%;
	color:#000;
	min-height: 40px;
}
#footNavi li:first-child {
	width: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: none;
}
/*#footNavi li:nth-child(3) {
	width: 53px;
	position: absolute;
	bottom: 0;
	left: 43%;
	z-index: 100;
	background: none;
}*/
#footNavi li:first-child a {
	padding: 0;
}
#footNavi li:last-child {
	border-left: 1px solid #000;
	box-sizing: border-box;
	width: 10%;
}
#footNavi li:last-child a {
	padding: 15px 0;
	box-sizing: border-box;
}
/*#footNavi li:last-child {
	background: #000;
}
#footNavi li:last-child a {
	color: #fff;
}*/
#footNavi li:nth-child(2) {
	width: 90%;
}
#footNavi li:nth-child(2) a {
	margin-left: 30px;
	font-size: 1.05em;
}
#footNavi li:nth-child(2) a span {
	font-size: 0.8em;
	background: #000;
	display: inline-block;
	padding: 0 5px;
	color: #FFF;
	font-weight: normal;
}

	/* ################# result ################# */
	/* カラー */
	#contant .sp_search_btn {
		color: #fff;
		background: -moz-linear-gradient( center top, #414141 5%, #333333 100% );
		background: -ms-linear-gradient( top, #414141 5%, #333333 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414141', endColorstr='#333333');
		background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #414141), color-stop(100%, #333333) );
		background-color: #414141;
		text-shadow: 2px 2px 0px #111;
		-webkit-box-shadow: 1px 3px 0px 0px #111;
		-moz-box-shadow: 1px 3px 0px 0px #111;
		box-shadow: 1px 3px 0px 0px #111;
		box-sizing: border-box!important;
	}
	.zero_mess {
		border-top-color: #C40807;
		background: -moz-linear-gradient(top,  #F1F1F1 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #F1F1F1 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #F1F1F1 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#ffffff',GradientType=0 );
	}
	#acMenu dt .toggle_icon {
		background: #C40807;
	}
	.work_box {
		background: #F1F1F1;
		background: -moz-linear-gradient(top,  #F1F1F1 0%, #ffffff 100%);
		background: -webkit-linear-gradient(top,  #F1F1F1 0%,#ffffff 100%);
		background: linear-gradient(to bottom,  #F1F1F1 0%,#ffffff 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F1F1F1', endColorstr='#ffffff',GradientType=0 );
	}
	#acMenu dt,
	.check {
		border-bottom-color: #F1F1F1;
	}
	.category .snavi_event_myschool {
		display: none;
	}
	.content_box {
		background: #F1F1F1;
	}

	/* その他 */
	.zero_mess {
		width: auto;
	}
	#contant .left,
	#contant .right {
		float: none;
	}
	input.chack_box {
		vertical-align: baseline;
	}

	/* ################# 詳細ページ ################# */
	/* フォントサイズ */
	.syousai_box .syousai_nophoto .min_tit {
		font-size: 2em;
	}
	.syousai_box .syousai_nophoto .txt {
		font-size: 1.4em;
	}
	.results_entry_btn,
	.results_detail_btn {
		font-size: 12px;
	}
	.select-box01 select {
		font-size: 1.333em;
	}
	.bus_btn_01 .txt,
	.bus_btn_02 .txt {
		font-size: 0.625em;
	}
	.syousai_box {
	border:1px solid #CCC;
	padding:20px;
	margin:10px 0 30px;
	}
	.syousai_box .syousai_right .min_tit, .syousai_box .syousai_nophoto .min_tit {
		font-size:16px;
		font-weight:bold;
		padding-bottom:5px;
		margin-bottom:5px;
		border-bottom:1px solid #CCC;
	}
	.syousai_box p.min_tit:before {
		content: "\f007";
		font-family: FontAwesome;
		font-weight: normal;
		padding-right: 5px;
	}
	.submit_btn  {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	text-shadow:none;
	font-weight:bold;
    width: 50%;
	padding:12px 5px;
	border-radius:3px;
	box-sizing:border-box;
	margin:0 0 0 2%;
	background:#EA0437;
	box-shadow:1px 3px 0px 0px #77021D;
	cursor:pointer;
	font-size:14px;
	-webkit-appearance: none;
	}
	.entry_btn {
		font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
		text-shadow:none;
		font-weight:bold;
	    width: 100%;
		padding:10px 5px;
		border-radius:3px;
		box-sizing:border-box;
		margin:10px 0 10px;
		background:#EA0437;
		box-shadow:1px 3px 0px 0px #77021D;
		cursor:pointer;
	}
	.entry_btn.fade {
		transition:none;
	}
	.entry_btn:hover {
		opacity:1.0;
		color:#FFF;
	}
	.submit_btn:hover , .entry_btn:hover {
		background:#77021D;
	}

	/* カラー */
	#contant .map a {
		color: #fdbe00;
	}
	/*ヴォーカル動画スマホ調整*/
	#detailWrapper .course_movie_03_2,
	#detailWrapper .course_movie_02 {
		width: 47%;
		margin-right: 6px!important;
		margin-bottom: 5px;
	}
	/* その他 */
	#contant .submit_btn {
		display: block;
		margin: 0 0 0 auto;
	}
	.syousai_box .syousai_nophoto .min_tit {
		/*border-radius: 4px;*/
	}
	.syousai_box .syousai_nophoto .txt {
		margin-top: 10px;
	}


	/* ################# バスページ ################# */
	/* その他 */
  .txt_area .txt_box_select {
    width: 30%;
	  font-weight: bold;
	  background: #ea0437;
	  color: #FFF;
	  padding: 10px 10px;
	  text-align: center;
	  border-radius: 5px;
	  margin: 3px;
	  float: left;
	}
	
	.guidance .tit_txt {
		line-height: 1.5;
	}
	#content .schedule .area a {
		background: #444444!important;
	}
	#content .attention {
		margin-right: 0;
	}
	.attention table .add {
		font-weight: normal;
	}
	#content .result .sub_title {
		width: auto;
	}
	#content .schedule .sub_title {
		width: auto;
	}
	ul.foot_menu li {
		border-bottom: 1px dotted #EA0437!important;
	}
	/*説明会ページ*/
	section.ao_flow dl {
	margin: 0 10px 3px 10px;
		background: url(http://nsm.ac.jp/common/img/ico_flow_arrow.gif) no-repeat center bottom;
		background-size: 15px;
		overflow: hidden;
	}
	section.ao_flow dl:last-child {
		margin: 0 10px 0 10px;
			background: none;
			background-size: 10px;
			overflow: hidden;
	}
	section.ao_flow dl:after {

	}
	section.ao_flow dl dt {
		background:#999;
		border-radius:5px 5px 0 0 ;
		color:#FFF;
		font-weight: bold;
		padding: 5px;
		width: 100%;
		box-sizing: border-box;
		}
	section.ao_flow dl dd {
		box-sizing: border-box;
		width: 100%;
			border: #CCC solid 1px;
		border-radius: 0 0 5px 5px;
		margin-bottom: 20px;
		padding: 5px;
		margin-left: 0;
		min-height: 35px;
		line-height: 140%;	
		color: #333;
		}
	.txt{
		font-size: 1.4rem;
	}
}